@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DAL.Dtos; 
@model List<ArticleBlogDto>
    <div class="sidebar-archive-blog widget-space">
        <h2 class="sidebar-title">Các bài gần đây</h2>
        <ul class="recent-post-img">
            @foreach (var item in Model)
            {
                <li>
                    <div class="recent-widget-img">
                        <div class="recent-p-photo">
                            @if (item.ImageIds.ToList() != null && item.ImageIds.ToList().Count > 0)
                            {
                                <a href="@item.UrlPath">
                                    <img src=@("~/Resource/AllImages/" + item.ImageIds.ToList()[0].ImageName) asp-append-version="true" alt="@item.Title" />
                                </a>
                            }
                        </div>
                        <div class="recent-widget-content">
                            <h3><a href="@item.UrlPath">@item.Sapo</a></h3>
                            <span>@item.CreatedDate</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>