@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DAL.Models.Account
@model ApplicationRole

@{
    ViewBag.Title = "Edit Role";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    List<ApplicationUser> listUsers = (List<ApplicationUser>)ViewBag.ListUsers;
    int index = 0;
}

<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row m-0 bg-light">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Cập Nhật Quyền</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                            <li class="breadcrumb-item active">Cập Nhật Quyền</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <section class="pt-2">
            <div class="container bg-white p-4 card">
                <partial name="~/Areas/Admin/Views/Shared/_MessgeAlert.cshtml">
                @using (Html.BeginForm("EditRole", "RoleAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class=" row ">
                        <div class="col-md-4">  </div>
                        <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> Cập Nhật Quyền</h3> </div>
                        <div class="col-md-4 ">
                            <div class="float-right">
                                <button type="submit" class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Lưu</button>
                                <a href="~/admin/roleadmin/rolelist" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Hủy</a>
                            </div>
                        </div>
                    </div>
                    <div class=" row ">
                        <div class="col-md-8">
                            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class=" row ">
                        <div class="col-md-8">
                            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <textarea asp-for="Description" class="form-control" placeholder="Mô tả.."></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Id" />
                }
            </div>
        </section>
        <hr />
        <section class="container-fluid">
            <div class="bg-white card">
                <div class="row">
                    <div class="col-md-12 p-3">
                        <div class="float-left"><h4>Các User Có Quyền @Model.Name</h4></div>
                        <div class="float-right">
                            <a class="btn btn-sm bg-success text-white" href="@Url.Action("AddUsersToRole", "RoleAdmin", new { roleId = Model.Id })">Thêm user vào role <i class="fas fa-save"></i></a>
                        </div>
                    </div>
                    <div class="col-md-12 p-3">
                        <table id="myTable1" class="table  table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Thông tin user</th>
                                    <th>Chức Năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ApplicationUser userItem in listUsers)
                                {
                                    <tr>
                                        <td>@(index += 1)</td>
                                        <td>
                                            <b>Name: </b> @Html.DisplayFor(modelItem => userItem.UserName)<br />
                                            <b>Id: </b> @Html.DisplayFor(modelItem => userItem.Id)
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-light text-danger border" href="@Url.Action("RemoveUserFromRole", "RoleAdmin" , new { userId = userItem.Id, roleName = Model.Name})"> <i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>