@using DAL.Dtos;
@using DAL.Common;
@model IEnumerable<DAL.Dtos.ProductDto>
@{
    string className = "";
    int maxNumberOfCols = 4; // Max 4 cột
    int size = 3;
    int maxIndex = 0;
}
    <div class="row">
        <div class="category-curosel">
            @for (int i = 0; i < maxNumberOfCols; i++)
            {
                {
                    maxIndex = Model.Skip(size * i).Count() >= size ? size * (i + 1) : size * i + Model.Skip(size * i).Count();
                }
                <div class="col-md-6">
                    @for (int j = size * i; j < maxIndex; j++)
                    {
                        <!-- single-category-tab start -->
                        <div class="single-category-tab">
                            <div class="single-features">
                                <div class="product-img new-arrival-box">
                                    <a href="@Model.ToList()[j].UrlPath">
                                        @for (int k = 0; k < Model.ToList()[j].ImageIds.Count; k++)
                                        {
                                            {
                                                className = k == 0 ? "first-img" : "second-img";
                                            }
                                            <img class="lazyload @className" style="width:126px;height:166px"
                                                    src=@(ViewBag.PathBase + Model.ToList()[j].ImageIds.ToList()[k].ImageName) asp-append-version="true" alt="" />
                                        }
                                    </a>
                                    @if (Model.ToList()[j].Discount > 0)
                                    {
                                        <span class="sale-text">Sale</span>
                                    }
                                    <div class="action-buttons">
                                        <a class="add-to-cart" onclick="shoppingCart.AddToCart(@Model.ToList()[j].Id)"><i style="padding-right:0;font-size:14px" class="fa fa-shopping-cart"></i></a>
                                        <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                        <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="pro-rating">
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </div>
                                    <h5><a href="@Model.ToList()[j].UrlPath" class="f-size-16">@Model.ToList()[j].Name</a></h5>
                                    @if (Model.ToList()[j].Discount > 0)
                                    { 
                                        <span class="old-price">@Common.FomatPrice(Model.ToList()[j].Price)</span>
                                    }
                                    <span class="pro-price">@Common.FomatPrice(((Model.ToList()[j].Price - (Model.ToList()[j].Price * (decimal)Model.ToList()[j].Discount) / 100)))</span>
                                </div>
                            </div>
                        </div>
                        <!-- single-category-tab end -->
                    }
                </div>
            }
        </div>
    </div>
